In [1]:
# import the dependencies 
import pandas as pd
from sqlalchemy import create_engine, inspect

### Read the files into pandas dataframe and display

In [2]:
percapita_df = pd.read_csv("../Resources/GDP_PerCapita.csv", encoding="latin1")
percapita_df.head()

,Country/Territory,Subregion,Region,GDP Estimate in USD per capita as per IMF,Year as per IMF,GDP Estimate in USD per capita as per UN,Year as per UN,GDP Estimate in USD per capita as per World Bank,Year as per World Bank
0,Monaco,Western Europe,Europe,NaN,NaN,190532.0,2019,190513.0,2019.0
1,Liechtenstein,Western Europe,Europe,NaN,NaN,179258.0,2019,180367.0,2018.0
2,Luxembourg,Western Europe,Europe,131782.0,2021.0,115481.0,2019,115874.0,2020.0
3,Bermuda,Northern America,Americas,NaN,NaN,117768.0,2019,117098.0,2019.0
4,Cayman Islands,Caribbean,Americas,NaN,NaN,92692.0,2019,91393.0,2019.0

In [3]:
global_vax_df = pd.read_csv("../Resources/Global_COVID_Vaccination_Tracker.csv")
global_vax_df.head()

,Countries and regions,Doses administered,Enough for % of people,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Daily rate of doses administered
0,Global Total,5.663213e+09,NaN,NaN,NaN,33380378.0
1,Mainland China,2.129833e+09,76.1,NaN,69.3,6454714.0
2,India,7.303371e+08,26.7,40.3,12.4,7616167.0
3,EU,5.469671e+08,61.6,66.0,61.5,1394444.0
4,U.S.,3.785697e+08,59.2,62.9,53.6,721844.0

In [4]:
population_df = pd.read_csv("../Resources/population_by_country_2020.csv")
population_df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

### Find the null and duplicates in the dataframes

In [5]:
#find null values in percpaita_df 
null_percapita = percapita_df[percapita_df.isna().any(axis=1)]
null_percapita

,Country/Territory,Subregion,Region,GDP Estimate in USD per capita as per IMF,Year as per IMF,GDP Estimate in USD per capita as per UN,Year as per UN,GDP Estimate in USD per capita as per World Bank,Year as per World Bank
0,Monaco,Western Europe,Europe,NaN,NaN,190532.0,2019,190513.0,2019.0
1,Liechtenstein,Western Europe,Europe,NaN,NaN,179258.0,2019,180367.0,2018.0
3,Bermuda,Northern America,Americas,NaN,NaN,117768.0,2019,117098.0,2019.0
4,Cayman Islands,Caribbean,Americas,NaN,NaN,92692.0,2019,91393.0,2019.0
17,Greenland,Northern America,Americas,NaN,NaN,53353.0,2019,54471.0,2018.0
21,British Virgin Islands,Caribbean,Americas,NaN,NaN,48511.0,2019,NaN,NaN
31,Andorra,Southern Europe,Europe,NaN,NaN,40887.0,2019,40897.0,2019.0
33,New Caledonia,Melanesia,Oceania,NaN,NaN,34942.0,2019,12580.0,2000.0
38,Taiwan,Eastern Asia,Asia,32123.0,2021.0,28371.0,[6][7]2020,NaN,NaN
43,Sint Maarten,Caribbean,Americas,NaN,NaN,NaN,NaN,29160.0,2018.0
46,Turks and Caicos I,Caribbean,Americas,NaN,NaN,31353.0,2019,23880.0,2020.0
48,Anguilla,Caribbean,Americas,NaN,NaN,25529.0,2019,NaN,NaN
54,Cook Islands,Polynesia,Oceania,NaN,NaN,21603.0,2019,NaN,NaN
56,French Polynesia,Polynesia,Oceania,NaN,NaN,21567.0,2019,14324.0,2000.0
61,Curaçao,Caribbean,Americas,NaN,NaN,18980.0,2019,19701.0,2019.0
74,Montserrat,Caribbean,Americas,NaN,NaN,13487.0,2019,NaN,NaN
79,American Samoa,Polynesia,Oceania,NaN,NaN,NaN,NaN,11535.0,2019.0
80,#VALUE!,NaN,NaN,NaN,NaN,11339.0,2019,10926.0,2020.0
89,Cuba,Caribbean,Americas,NaN,NaN,9296.0,2019,9100.0,2019.0
201,North Korea,Eastern Asia,Asia,NaN,NaN,640.0,2019,NaN,NaN

In [6]:
#finding which GDP data has least null values 

wb_series = pd.isnull(percapita_df["GDP Estimate in USD per capita as per World Bank"])

un_series = pd.isnull(percapita_df["GDP Estimate in USD per capita as per UN"])

imf_series = pd.isnull(percapita_df["GDP Estimate in USD per capita as per IMF"])

print(f"number of null values in worldbank gdp data is {len(percapita_df[wb_series])}" )
print(f"number of null values in UN gdp data is {len(percapita_df[un_series])}" )
print(f"number of null values in IMF gdp data is {len(percapita_df[imf_series])}" )

number of null values in worldbank gdp data is 6
number of null values in UN gdp data is 2
number of null values in IMF gdp data is 19

In [7]:
#keeping the gdp and year columns with least null values and dropping rest
new_percapita_df = percapita_df [["Country/Territory","Region","GDP Estimate in USD per capita as per UN","Year as per UN"]]
new_percapita_df.head()

,Country/Territory,Region,GDP Estimate in USD per capita as per UN,Year as per UN
0,Monaco,Europe,190532.0,2019
1,Liechtenstein,Europe,179258.0,2019
2,Luxembourg,Europe,115481.0,2019
3,Bermuda,Americas,117768.0,2019
4,Cayman Islands,Americas,92692.0,2019

In [8]:
# drop the duplicates 
new_percapita_df = new_percapita_df.drop_duplicates(subset =["Country/Territory"], keep = "first")
new_percapita_df.head()

,Country/Territory,Region,GDP Estimate in USD per capita as per UN,Year as per UN
0,Monaco,Europe,190532.0,2019
1,Liechtenstein,Europe,179258.0,2019
2,Luxembourg,Europe,115481.0,2019
3,Bermuda,Americas,117768.0,2019
4,Cayman Islands,Americas,92692.0,2019

In [9]:
#find the null values in the global_vax_df
null_global_vax = global_vax_df[global_vax_df.isna().any(axis=1)]
null_global_vax

,Countries and regions,Doses administered,Enough for % of people,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Daily rate of doses administered
0,Global Total,5.663213e+09,NaN,NaN,NaN,33380378.0
1,Mainland China,2.129833e+09,76.1,NaN,69.3,6454714.0
93,Ethiopia,2.654956e+06,1.4,2.7,NaN,27945.0
140,Syria,4.032540e+05,NaN,NaN,NaN,2105.0
148,Tanzania,3.101030e+05,0.3,NaN,NaN,5718.0
158,Lesotho,2.017950e+05,4.9,2.0,NaN,24504.0
161,Benin,1.740740e+05,0.7,1.3,NaN,2375.0
164,Jersey,1.497480e+05,NaN,NaN,NaN,142.0
176,Guernsey,1.009570e+05,NaN,NaN,NaN,181.0
185,Micronesia,6.774800e+04,32.6,37.7,NaN,219.0
198,Turkmenistan,4.199300e+04,0.4,0.6,0.2,NaN
202,Nauru,1.479000e+04,56.9,58.6,55.2,NaN
205,Montserrat,2.837000e+03,28.4,29.3,27.4,NaN
206,Eritrea,NaN,NaN,NaN,NaN,NaN

In [10]:
#final dataframe for global_vax_df
new_global_vax = global_vax_df[["Countries and regions","Doses administered","Percentage of population with 1+ dose"
                                ,"Percentage of population fully vaccinated"]]
new_global_vax.head()

,Countries and regions,Doses administered,Percentage of population with 1+ dose,Percentage of population fully vaccinated
0,Global Total,5.663213e+09,NaN,NaN
1,Mainland China,2.129833e+09,NaN,69.3
2,India,7.303371e+08,40.3,12.4
3,EU,5.469671e+08,66.0,61.5
4,U.S.,3.785697e+08,62.9,53.6

In [11]:
#final dataframe for the population_df
new_population_df = population_df[["Country (or dependency)","Population (2020)"]]
new_population_df.head()

  Country (or dependency)  Population (2020)
0                   China         1440297825
1                   India         1382345085
2           United States          331341050
3               Indonesia          274021604
4                Pakistan          221612785

In [12]:
#find the null values in the global_vax_df
null_population = new_population_df[new_population_df.isna().any(axis=1)]
null_population

Empty DataFrame
Columns: [Country (or dependency), Population (2020)]
Index: []

In [18]:
country_correspondence = pd.read_csv("../Resources/country_correspondence.csv", encoding="latin1")
country_correspondence.head()

,ï»¿Index,Pop,GDP,GDP-1,Covid,Full_set,Unnamed: 6,Unnamed: 7
0,0.0,Afghanistan,Afghanistan,Afghanistan,Afghanistan,True,NaN,4.0
1,1.0,Albania,AlbaniaÂ,Albania,Albania,True,NaN,4.0
2,2.0,Algeria,AlgeriaÂ,Algeria,Algeria,True,NaN,4.0
3,3.0,American Samoa,American SamoaÂ,American Samoa,NaN,False,NaN,3.0
4,4.0,Andorra,AndorraÂ,Andorra,Andorra,True,NaN,4.0

In [14]:
merge_pop = country_correspondence[["Index","Pop"]]
merge_pop = merge_pop.rename(columns={"Pop":"Country (or dependency)"})
merge_pop.head()

   Index Country (or dependency)
0    0.0             Afghanistan
1    1.0                 Albania
2    2.0                 Algeria
3    3.0          American Samoa
4    4.0                 Andorra

In [15]:
merged_population = pd.merge(new_population_df, merge_pop, on="Country (or dependency)")
merged_population.head()

  Country (or dependency)  Population (2020)  Index
0                   China         1440297825   43.0
1                   India         1382345085   97.0
2           United States          331341050  228.0
3               Indonesia          274021604   98.0
4                Pakistan          221612785  162.0

In [16]:
merge_vax = country_correspondence[["Index","Covid"]]
merge_vax = merge_vax.rename(columns={"Covid":"Countries and regions"})
merged_vax = pd.merge(new_global_vax, merge_vax, on="Countries and regions")
merged_vax.head()

,Countries and regions,Doses administered,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Index
0,Mainland China,2.129833e+09,NaN,69.3,43.0
1,India,7.303371e+08,40.3,12.4,97.0
2,EU,5.469671e+08,66.0,61.5,67.0
3,U.S.,3.785697e+08,62.9,53.6,228.0
4,Brazil,2.058668e+08,66.9,33.2,27.0

In [21]:
merge_gdp = country_correspondence[["Index","GDP"]]
merge_gdp = merge_gdp.rename(columns={"GDP":"Country/Territory"})
merged_gdp = pd.merge(new_percapita_df, merge_gdp, on="Country/Territory")
merged_gdp.head()

KeyError: "['Index'] not in index"

In [20]:
new_percapita_df["Country/Territory"].unique()

array(['Monaco\xa0', 'Liechtenstein\xa0', 'Luxembourg\xa0', 'Bermuda\xa0',
       'Cayman Islands\xa0', 'Switzerland\xa0', 'Ireland\xa0',
       'Macau\xa0', 'Norway\xa0', 'United States\xa0', 'Iceland\xa0',
       'Denmark\xa0', 'Singapore\xa0', 'Qatar\xa0', 'Australia\xa0',
       'Sweden\xa0', 'Netherlands\xa0', 'Greenland\xa0', 'Finland\xa0',
       'Austria\xa0', 'San Marino\xa0', 'British Virgin Islands\xa0',
       'Hong Kong\xa0', 'Germany\xa0', 'Belgium\xa0', 'Canada\xa0',
       'Israel\xa0', 'New Zealand\xa0', 'United Kingdom\xa0',
       'France\xa0', 'Japan\xa0', 'Andorra\xa0',
       'United Arab Emirates\xa0', 'New Caledonia\xa0', 'Puerto Rico\xa0',
       'Italy\xa0', 'South Korea\xa0', 'Brunei\xa0', 'Taiwan\xa0',
       'Bahamas\xa0', 'Malta\xa0', 'Kuwait\xa0', 'Spain\xa0',
       'Sint Maarten\xa0', 'Cyprus\xa0', 'Aruba\xa0',
       'Turks and Caicos I', 'Slovenia\xa0', 'Anguilla\xa0',
       'Estonia\xa0', 'Czech Republic\xa0', 'Bahrain\xa0', 'Portugal\xa0',
       'Saudi Arabia\xa0', 'Cook Islands\xa0', 'Lithuania\xa0',
       'French Polynesia\xa0', 'Slovakia\xa0', 'Greece\xa0',
       'Saint Kitts and Nevis\xa0', 'Latvia\xa0', 'Curaçao\xa0',
       'Hungary\xa0', 'Barbados\xa0', 'Poland\xa0', 'Oman\xa0',
       'Croatia\xa0', 'Trinidad and Tobago\xa0', 'Uruguay\xa0',
       'Antigua and Barbuda\xa0', 'Chile\xa0', 'Palau\xa0', 'Romania\xa0',
       'Panama\xa0', 'Montserrat\xa0', 'China\xa0', 'Costa Rica\xa0',
       'Russia\xa0', 'Malaysia\xa0', 'American Samoa\xa0', '#VALUE!',
       'Bulgaria\xa0', 'Nauru\xa0', 'Maldives\xa0', 'Kazakhstan\xa0',
       'Saint Lucia\xa0', 'Seychelles\xa0', 'Mauritius\xa0', 'Turkey\xa0',
       'Cuba\xa0', 'Mexico\xa0', 'Guyana\xa0', 'Grenada\xa0',
       'Argentina\xa0', 'Montenegro\xa0', 'Turkmenistan\xa0',
       'Serbia\xa0', 'Gabon\xa0', 'Equatorial Guinea\xa0', 'Iran\xa0',
       'Dominican Republic\xa0', 'Botswana\xa0', 'Thailand\xa0',
       'Saint Vincent and the Grenadines\xa0', 'Brazil\xa0',
       'Dominica\xa0', 'Bosnia and Herzegovina\xa0', 'Peru\xa0',
       'North Macedonia\xa0', 'Belarus\xa0', 'Albania\xa0',
       'Colombia\xa0', 'Ecuador\xa0', 'South Africa\xa0', 'Jamaica\xa0',
       'Paraguay\xa0', 'Tuvalu\xa0', 'Tonga\xa0', 'Fiji\xa0',
       'Azerbaijan\xa0', 'Kosovo\xa0', 'Moldova\xa0', 'Iraq\xa0',
       'Guatemala\xa0', 'Namibia\xa0', 'Georgia\xa0', 'Jordan\xa0',
       'Indonesia\xa0', 'Marshall Islands\xa0', 'Mongolia\xa0',
       'Armenia\xa0', 'El Salvador\xa0', 'Suriname\xa0', 'Ukraine\xa0',
       'Belize\xa0', 'Egypt\xa0', 'Sri Lanka\xa0', 'Micronesia\xa0',
       'Eswatini\xa0', 'Tunisia\xa0', 'Samoa\xa0', 'Philippines\xa0',
       'Bolivia\xa0', 'Libya\xa0', 'Vietnam\xa0', 'Cape Verde\xa0',
       'Morocco\xa0', 'Algeria\xa0', 'Bhutan\xa0', 'Djibouti\xa0',
       'Palestine\xa0', 'Vanuatu\xa0', 'Syria\xa0', 'Lebanon\xa0',
       'Laos\xa0', 'Papua New Guinea\xa0', 'Honduras\xa0',
       'Ivory Coast\xa0', 'Congo\xa0', 'Solomon Islands\xa0',
       'Nigeria\xa0', 'Ghana\xa0', 'India\xa0', 'Mauritania\xa0',
       'São Tomé and Príncipe\xa0', 'Kenya\xa0', 'Bangladesh\xa0',
       'Angola\xa0', 'Haiti\xa0', 'Kiribati\xa0', 'Nicaragua\xa0',
       'Uzbekistan\xa0', 'Cambodia\xa0', 'Zimbabwe\xa0', 'Cameroon\xa0',
       'Senegal\xa0', 'Venezuela\xa0', 'Myanmar\xa0', 'Comoros\xa0',
       'Benin\xa0', 'East Timor\xa0', 'Pakistan\xa0', 'Nepal\xa0',
       'Lesotho\xa0', 'Guinea\xa0', 'Kyrgyzstan\xa0', 'Tanzania\xa0',
       'Togo\xa0', 'Mali\xa0', 'Zambia\xa0', 'Uganda\xa0', 'Ethiopia\xa0',
       'Guinea-Bissau\xa0', 'Burkina Faso\xa0', 'Gambia\xa0',
       'Rwanda\xa0', 'Tajikistan\xa0', 'Sudan\xa0', 'Yemen\xa0',
       'Chad\xa0', 'Liberia\xa0', 'North Korea\xa0', 'Niger\xa0',
       'Eritrea\xa0', 'Afghanistan\xa0', 'DR Congo\xa0',
       'Central African Republic\xa0', 'Sierra Leone\xa0',
       'Madagascar\xa0', 'Malawi\xa0', 'Mozambique\xa0', 'Somalia\xa0',
       'South Sudan\xa0', 'Burundi\xa0'], dtype=object)