In [1]:
# import the dependencies 
import pandas as pd
from sqlalchemy import create_engine, inspect

In [2]:
# read the files into pandas dataframe and display 
percapita_df = pd.read_csv("../Resources/GDP_PerCapita.csv")
percapita_df.head()

,Country/Territory,Subregion,Region,GDP Estimate in USD per capita as per IMF,Year as per IMF,GDP Estimate in USD per capita as per UN,Year as per UN,GDP Estimate in USD per capita as per World Bank,Year as per World Bank
0,Monaco�,Western Europe,Europe,NaN,NaN,190532.0,2019,190513.0,2019.0
1,Liechtenstein�,Western Europe,Europe,NaN,NaN,179258.0,2019,180367.0,2018.0
2,Luxembourg�,Western Europe,Europe,131782.0,2021.0,115481.0,2019,115874.0,2020.0
3,Bermuda�,Northern America,Americas,NaN,NaN,117768.0,2019,117098.0,2019.0
4,Cayman Islands�,Caribbean,Americas,NaN,NaN,92692.0,2019,91393.0,2019.0

In [3]:
gloabal_vax_df = pd.read_csv("../Resources/Global_COVID_Vaccination_Tracker.csv")
gloabal_vax_df.head()

,Countries and regions,Doses administered,Enough for % of people,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Daily rate of doses administered
0,Global Total,5.663213e+09,NaN,NaN,NaN,33380378.0
1,Mainland China,2.129833e+09,76.1,NaN,69.3,6454714.0
2,India,7.303371e+08,26.7,40.3,12.4,7616167.0
3,EU,5.469671e+08,61.6,66.0,61.5,1394444.0
4,U.S.,3.785697e+08,59.2,62.9,53.6,721844.0

In [4]:
population_df = pd.read_csv("../Resources/population_by_country_2020.csv")
population_df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %